<select (click)="stopPropagation($event)"
        [(ngModel)]="selectedState"
        (change)="selectState()"
        id="states"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
  <option disabled value="" selected>Change status</option>
  <option [value]="state"
          [disabled]="selectedState === state"
          *ngFor="let state of taskStatus">{{ state }}
  </option>
</select>
